/* ------------Global Classes------------------*/

a{
    text-decoration: none;
    color: var(--text-gray)
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
ul{
    list-style-type: none;
}

/* -----X------Global Classes---------X--------*/

/* --------------NavBar-----------------*/
.nav{
    background-color: #104842;
    min-height: 5vh;
    overflow: hidden;
    position: fixed;
    width: 100%;
}
.nav .nav-menu{
    justify-content: space-between;
}
.resto-name{
    color: #FCEADE;
    text-align: center;
    align-self: center;
    font-size: 2rem;
}
.img-logo{
    height: 50px;
    min-height: 25px;
    width: 50px;
    min-width: 25px;
}
.nav-items{
    display: flex;
    margin: 0 5px 0 0;
    text-align: center;
    align-self: center;
}
.nav-links{
    color: #FCEADE;
    padding: 0 10px;
    font-size: 2rem;
}
/* ------X------NavBar----------X------*/



/* ------X------Footer----------X------*/

.footer{
    padding-top: 150px;
    background-color: rgba(26, 26 ,26, 0.65);   
}



/* ------X------Footer----------X------*/